@model OpenAI.Models.GenAIToolsModel

@{
    ViewData["Title"] = "Details";
}
<div class="parallax_body">
    <br />
    <h2 class="text-center">Details</h2>

    <div class="p-5">
        <hr class="hrHeight" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenAIName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenAIName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Summary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFilename)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageFilename)
            </dd>
            <dt class="col-sm-2">
                Image
            </dt>
            <dd class="col-sm-10">
                <img src="@("../images/"+Model.ImageFilename)" asp.asp-append-version="true" alt="GenAI Tool" class="img-thumbnail">
            </dd>
        </dl>
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
